:root {
    --red: #b10015;
    --red-dimmed: rgba(177, 0, 21, 0.7);
    --red-darker: rgb(99, 11, 21);
    --white: #e6efec;
    --white-dimmed: rgba(230, 239, 236, 0.8);
    --yellow: #edc85e;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-block: 1rem 0.5rem;
    border-bottom: 2px solid var(--white-dimmed);
    margin-bottom: 2rem;
}



h3 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    padding-block: 0.5rem;
    border-bottom: 2px solid var(--white-dimmed);
}

h4 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding-block: 0.5rem;
    border-bottom: 2px solid var(--white-dimmed);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 0;
}

.section-navbar {
    padding-block: 5vh;
}

.section-footer {
    padding-block-end: 5vh;
}


.wrapper {
    max-width: 600px;
    width: 80%;
    margin-bottom: 4rem;
}

.wrapper-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 35px;
    border: 2px solid var(--white);
}

.language-option {
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    width: 35px;
    height: inherit;
    color: var(--white-dimmed);
    margin: -1px;
    cursor: pointer;
}

.language-option.active {
    background-color: var(--white);
    color: var(--red);
}

hr {
    width: 100%;
    color: var(--white-dimmed);

}

.button-wide {
    width: 100%;
}

.button.share {
    margin-top: 2rem;
}

/* SONG */
.submitted_songs-section {
    padding-block-start: 10vh;
    min-height: 400px;
}

#submitted_songs {
    padding-block: 2rem;
}

.song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    height: auto;
    padding-block: 0.5rem;
    min-height: 60px;

}

.song-name {
    margin-right: 1rem;
    border: none;
}

.song-artist {
    border: none;
    padding: 0;
}

.song-artist::before {
    content: "by";
    margin-right: 1rem;
    color: var(--white-dimmed);
}

.actions {
    max-width: 200px;
}

.actions>a {
    margin-right: 0;
}